#container{
	display: grid;
	grid-template-columns: repeat(19, 40px);
	grid-template-rows: repeat(22, 40px);
}

.sol{
	background: black;
}

.mur{
	background-image: url(../myIMG/wall.png)
}

.bonbon{
	background: black;
	background-image: url(../myIMG/coin.png);
}

.pacmanr{
	background: black;
	background-image: url(../myIMG/pacman-right.gif)
}

.pacmanl{
	background: black;
	background-image: url(../myIMG/pacman-left.gif)
}

.pacmanb{
	background: black;
	background-image: url(../myIMG/pacman-bottom.gif)
}

.pacmant{
	background: black;
	background-image: url(../myIMG/pacman-top.gif)
}

.ghost{
	background: black;
	background-image: url(../myIMG/ghost.png)
}
